.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.homepage {
    text-align: center;
    width: 100%;
}

.image {
    width: 100%;
    background-size: cover;
    display: block;
    aspect-ratio: 11 / 3;
}

.h5 {
    display: block;
    text-align: center;
}

.WelcomePage {
    width: 100%;
}

.hotel-name {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 30px;
}

.card {

    img {
        width: 288px;
        height: 250px;
    }
}

.Reservation-container {
    text-align: center;
}